<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>

<div class="container">
  <h3>Follow functionality</h3>

  <% if current_user.stores.include?(@store) && user_signed_in? %>
      <h5><%= button_to "Unfollow", unfollow_store_path, method: :post %></h5>
  <% else %>
      <h5><%= button_to "Follow #{@store.name}", follow_store_path, method: :post %></h5>
  <% end %>
</div> 

<hr>

<h1>Followers of the store</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= follower.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>Profile STORE</h1>

<%= @store.name %>

<div class="row">
  <div class="col-4">
    <h5>Usuarios que siguen la tienda</h5>
    <div><%= @store.total_following_store %> followers</div>
  </div>
</div>  