<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.id %>
  <%= @store.name %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>

<hr>

<h1>Follow or Unfollow store</h1>

<% if user_signed_in? %>

  <div id="follow">
    <%= render 'follows/follow_store', store: @store %>
  </div>

<% end %>


<hr>

<h1>Followers of the store</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= follower.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>Profile STORE</h1>

<h1>Store: <%= @store.name %></h1>

<div>
  <h5>Usuarios que siguen la tienda</h5>
  <div id="followers">
    <%= render 'follows/followers', store: @store %>
  </div>
</div>